.title{
    font-family: 'Bebas Neue', cursive;

}
.item{
    height: 50rem;
    min-width: 20rem;
    padding:2rem;
    
}

.item img{
    height: 25%;
    width: auto;
    pointer-events:none;
}

.slider{
    display: flex;
    cursor: grab;
}

.slider-container{
    margin: auto;
    overflow-x: hidden;
}